*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# 璋冭瘯/涓存椂鏂囦欢
*.png
*.cfa
*.apk
analyze_apk.py
hondatamobile.apk
ui_simulator.html
__pycache__/
