*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# 调试/临时文件
*.png
*.cfa
*.apk
analyze_apk.py
hondatamobile.apk
ui_simulator.html
tools/
